{% extends 'main/sidebar.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<div class="card text-white bg-warning mb-3" style="max-width: 150rem; height: 350px;">
  <div class="card-header" style="max-width: 150rem; height: 80px;"><h1 style="position: absolute; right: 1500px;">SignUp page</h1></div>
  <div class="card-body">
    <h2 style="position: absolute; right: 820px; top: 90px; font-size: 300%;">Web development</h2>
    <form method="post" action="" style="position: absolute; right: 1175px; top: 200px;">
    {% csrf_token %}
    <ul>
        {% for emails in ls.emails_set.all %}
        <li style="position: absolute; right:500px; top: 1px;">{{emails.txt}}</li>
        {% endfor %}
    </ul>
    <button type="submit" name="signup" value="signup" class="btn btn-dark" style="position: absolute; top: 60px;">SignUp</button>
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="email" placeholder="Email"
               style="position: absolute; width: 400px;">
    </div>
</form>


    <img  src="{% static 'main/images/img1.png' %}" style="position:absolute; top: 100px; right: 1350px">
    <img src="{% static 'main/images/dj.png' %}" style="position:absolute; top: 40px; right: 290px">
  </div>
</div>
<h3 style="width: 1200px; position: absolute; right: 150px; top: 500px;">{{ts}}</h3>
<p style="position: absolute; top: 600px; right: 750px; width: 548px; text-align: center;">{{ expect }}</p>
<p style="position: absolute; top: 700px; right: 750px; width: 548px;">(we will discuss there what type of site you want and my salary for job :D) </p>
{% endblock %}